<footer class="footer">
  <div class="footer-container">

    <div class="footer-brand">
      <h3>TechPlanner</h3>
      <p>© 2026 TechPlanner. Infraestructura para empresas.</p>
    </div>

    <div class="footer-team">
      <h4>Equipo de desarrollo</h4>

      <div class="team-grid">

        <a href="https://github.com/kavila-code" target="_blank" class="team-card">
          <img src="../../../assets/Kelly-Vanesa-Avila.jpg" class="avatar">
          <div class="info">
            <span class="name">Kelly Vanesa Avila Perez</span>
            <span class="role">Scrum Master</span>
          </div>
          <div class="github-icon">GitHub</div>
        </a>

        <a href="https://github.com/usuario1" target="_blank" class="team-card">
          <img src="../../../assets/Juan-Felipe-Gordillo.jpg" class="avatar">
          <div class="info">
            <span class="name">Juan Felipe Gordillo</span>
            <span class="role">Frontend / Backend</span>
          </div>
          <div class="github-icon">GitHub</div>
        </a>

        <a href="https://github.com/devoid96" target="_blank" class="team-card">
          <img src="../../../assets/Juan-Fernando-Ramirez.jpg" class="avatar">
          <div class="info">
            <span class="name">Juan Fernando Ramirez Delgado</span>
            <span class="role">Frontend / Backend</span>
          </div>
          <div class="github-icon">GitHub</div>
        </a>

        <a href="https://github.com/juansalazar10" target="_blank" class="team-card">
          <img src="../../../assets/Juan-David-Salazar.jpg" class="avatar">
          <div class="info">
            <span class="name">Juan David Salazar Riascos</span>
            <span class="role">UI / UX / QA</span>
          </div>
          <div class="github-icon">GitHub</div>
        </a>

        <a href="https://github.com/usuario1" target="_blank" class="team-card">
          <img src="https://i.pravatar.cc/40?img=1" class="avatar">
          <div class="info">
            <span class="name">Jhon Edinson Velez Ceron</span>
            <span class="role">Frontend / QA</span>
          </div>
          <div class="github-icon">GitHub</div>
        </a>

      </div>
    </div>

  </div>
</footer>
