.footer {
  background: #070e1c;
  border-top: 1px solid #25324D;
  padding: 60px 20px;
  color: #dce2f6; /* 🔥 ESTO ARREGLA EL TEXTO NEGRO */
}

.footer-container {
  max-width: 1200px;
  margin: auto;
}

.footer-brand h3 {
  color: #ffffff;
  margin-bottom: 5px;
}

.footer-brand p {
  color: #8c909f;
  font-size: 14px;
}

