<div class="page">
  <a class="page-back-button" href="/inicio">← Volver</a>

  <div class="card">

    <div class="header">
      <h1>Registro de Componente</h1>
      <p>Ingrese las especificaciones técnicas del hardware</p>
    </div>

    <p>Total de productos cargados: {{ precioProductos.length }}</p>

    <div *ngIf="getProductos() && precioProductos.length > 0">
      <h2>Precios de Productos</h2>

      <ul>
        <!-- 2. Recorremos el arreglo -->
        <li *ngFor="let item of precioProductos">
          <strong>{{ item.productName }}</strong> <br>
          Tipo Cliente: {{ item.customerType }} <br>
          Precio Base: ${{ item.basePrice }} | Descuento: {{ item.discountPercentage }}% <br>
          <strong>Precio Final: ${{ item.finalPrice }}</strong>
          <hr>
        </li>
      </ul>
    </div>

  </div>

</div>
