<header class="hero hero hero-gradient">
  <div class="container hero-grid">
    <div>
      <h1>
        Optimice su Infraestructura Tecnológica con
        <span class="primary">TechPlanner</span>
      </h1>

      <p>
        Planificación, configuración y cotización B2B inteligente.
      </p>

      <div class="buttons">
        <button class="primary-btn">Iniciar sesión</button>
        <button class="outline-btn">Solicitar acceso</button>
      </div>
    </div>

    <div class="image">
      <img src="https://lh3.googleusercontent.com/aida-public/AB6AXuCG42VjgTrAeB-EQY4UeK4-FVJpatybI3lfWFj4SZEp2a2Y2pqXj2-4KpVy1peRDUqeJVuCJk3uY6KBdgfSF53oYqu5qGaQnqutfsdeWx1Jjt98eB3c9q60RGIsRcyU3dQP8KGgIqZDn4K-uqdv8yS8GU2zyNVJN8M_7f0ZPxIVOdGFxJzY5UsNskYEWe5BvdP5ofhlnm8MicsujzWEob1S0xKf14nv6czuk3m6YUWf5RD4w8Lga5hPoTYTC8BcErxBjzP_lnkRUTQ"/>
    </div>
  </div>
</header>
