<div class="footer-team">
  <h4>Equipo de desarrollo</h4>

  <div class="team-grid">

    <a href="https://github.com/kavila-code" target="_blank" class="team-card">
      <img src="../../../assets/Kelly-Vanesa-Avila.jpg" class="avatar">
      <div class="info">
        <span class="name">Kelly Vanesa Avila Perez</span>
        <span class="role">Scrum Master</span>
      </div>
      <div class="github-icon">GitHub</div>
    </a>

    <a href="https://github.com/Juanfgordillo" target="_blank" class="team-card">
      <img src="../../../assets/Juan-Felipe-Gordillo.jpg" class="avatar">
      <div class="info">
        <span class="name">Juan Felipe Gordillo</span>
        <span class="role">Frontend / Backend</span>
      </div>
      <div class="github-icon">GitHub</div>
    </a>

    <a href="https://github.com/devoid96" target="_blank" class="team-card">
      <img src="../../../assets/Juan-Fernando-Ramirez.jpg" class="avatar">
      <div class="info">
        <span class="name">Juan Fernando Ramirez Delgado</span>
        <span class="role">Frontend / Backend</span>
      </div>
      <div class="github-icon">GitHub</div>
    </a>

    <a href="https://github.com/juansalazar10" target="_blank" class="team-card">
      <img src="../../../assets/Juan-David-Salazar.jpg" class="avatar">
      <div class="info">
        <span class="name">Juan David Salazar Riascos</span>
        <span class="role">UI / UX / QA</span>
      </div>
      <div class="github-icon">GitHub</div>
    </a>

    <a href="https://github.com/velez-017" target="_blank" class="team-card">
      <img src="../../../assets/Jhon-Edinson-Velez.jpg" class="avatar">
      <div class="info">
        <span class="name">Jhon Edinson Velez Ceron</span>
        <span class="role">Frontend / QA</span>
      </div>
      <div class="github-icon">GitHub</div>
    </a>

  </div>
</div>
